body {
	font-family: 'Noto Sans', serif;
}

.mainDiv {
	height: 100%;
	width: 100%;
}

#options {
	width: auto;
}

#title, #profile {
	display: inline-block;

}

#title {
	/*padding-top: 10%;
	padding-bottom: 10%;*/
	text-align: center;
	font-size: 1.5em;

	line-height: .9;
	padding-left: 10%;
	width: 40%;
}

#title_content {
	display: inline-block;
	text-align: left;
}


#profile {
	font-size: 0.9em;
	margin-left: 5%;

}

#projects {
	padding-top: 5%;
	margin-left: auto;
	text-align: center;
}

#projects_content {
	text-align: left;
	display: inline-block;
}


#tagline {
	font-size: .8em;
}

.header {
	display: block;
	font-size: 1.2em;
	line-height: 0.5;
	padding-bottom: 0.1em;
}

.item {
	padding-left: 1%;
	padding: 0px;
	line-height: 0.2;
}


.tab {
	padding-left: 1%;
	display: block;
	margin-left: 2em;
	padding-bottom: 0em;
}