body {
	/*font-family: 'Noto Sans', serif;*/
	font-family: 'Lucida Console', monaco, monospace ;
}

.appDiv {
	position: fixed;
}

.mainDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#projects_container {
	text-align: left;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}

#projects {
	padding-top: 5%;
	margin-left: 25%;
	text-align: center;
}

.project_image {
	/*height: 15em;*/
	width: 25em;
}

.project_item {
	margin-bottom: 2em;
	font-size: 0.8em;
}

#options {
	font-family: 'Lucida Console', monaco, monospace ;
}

#option_select {
	font-family: 'Lucida Console', monaco, monospace ;
}


input {
	margin-right: 2em;
}

.project_info {
	width: 50%;
	margin-bottom: 2em;
	margin-left: 2em;
	font-size: 0.8em;
}

.project_writeup {
	vertical-align: top;
	margin-top: 0;
}

#title, #profile {
	display: inline-block;

}



#title {
	text-align: center;
	font-size: 1.5em;

	line-height: .9;
	padding-left: 10%;
	width: 40%;
}

#title_content {
	display: inline-block;
	text-align: left;
}


#profile {
	font-size: 0.8em;
	margin-left: 5%;

}


#tagline {
	font-size: .7em;
}

.header {
	display: block;
	font-size: 1.1em;
	line-height: 0.5;
	padding-top: 1em;
}

.item {
	padding-left: 1%;
	margin-top: 0px;
	/*line-height: 0.2;*/
	font-size: 0.9em;
}


.tab {
	padding-left: 1%;
	display: block;
	margin-left: 2em;
	padding-bottom: 0em;
	font-size: .9em;
}

@media only screen {

	.mainDiv {
		margin-left: 1%;
	}

	#title {
		width: 80%;
		left: 0;
	}


	#name {
		font-size: 1.3em;
		white-space: nowrap;
	}
	#tagline {
		line-height: 1.1em;
		word-wrap: break-word;
	}

	.header {
		line-height: 1.1em;
		font-color: blue;
	}

	#projects {
		text-align: left;
		margin-left: 0;
		left: 0;
	}
	.project_writeup {
		width: 100%;
	}
	input {
		margin-left: 2%;
	}
	#projects_container {
		left: 0;
		position: relative;
	}
}
