body {
	font-family: 'Noto Sans', serif;
}

.appDiv {
	position: fixed;
}

.mainDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#projects_container {
	text-align: left;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
}

#projects {
	padding-top: 5%;
	margin-left: 25%;
	text-align: center;
}

.project_image {
	/*height: 15em;*/
	width: 20em;
}

.project_item {
	margin-bottom: 2em;
}

input {
	margin-right: 2em;
}

.project_info {
	width: 50%;
	margin-bottom: 2em;
}

.project_writeup {
	vertical-align: top;
}

#title, #profile {
	display: inline-block;

}

#title {
	/*padding-top: 10%;
	padding-bottom: 10%;*/
	text-align: center;
	font-size: 1.5em;

	line-height: .9;
	padding-left: 10%;
	width: 40%;
}

#title_content {
	display: inline-block;
	text-align: left;
}


#profile {
	font-size: 0.9em;
	margin-left: 5%;

}




#tagline {
	font-size: .8em;
}

.header {
	display: block;
	font-size: 1.2em;
	line-height: 0.5;
	padding-bottom: 0.1em;
}

.item {
	padding-left: 1%;
	padding: 0px;
	line-height: 0.2;
}


.tab {
	padding-left: 1%;
	display: block;
	margin-left: 2em;
	padding-bottom: 0em;
	font-size: .9em;
}