body {
	font-family: 'Lucida Console', monaco, monospace ;
	/*cursor: url(static/cursor1.png), auto;
	pointer-events: auto;*/
	}

.appDiv {
	position: fixed;
}

a {
	color: inherit;
}

.header .item {
	font-family: 'Lucida Console', monaco, monospace ;
}

.mainDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/*#title_content {
	border: solid black 1px;
}*/

#projects_container {
	display: block;
	height: 200%;
	width: 75%;
	text-align: left;
	margin-top: 5em;
	position: absolute;
}

.project_item {
		margin-bottom: 2em;
		font-size: 0.8em;
}

#options {
	font-family: 'Lucida Console', monaco, monospace ;
}

#option_select {
	font-family: 'Lucida Console', monaco, monospace ;
}

#name {
	line-height: 0.5;
}

#profile {
	border: solid black 1px;
}

.popup {
  z-index: 5;
  position: fixed;
  width: 30em;
  /*height: 30em;*/
  height: auto;
  margin: auto;
  align-content: center;
  /*background: blue;*/
  padding-right: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  /*border: 1px solid black;*/
}

.popup_inner {
  width: 25em;
  /*height: 30em;*/
  height: auto;
  width: 30em;
  background: black;
  color: white;
}

.ascii {
	color: lightgrey;
	z-index: -100;
	position: absolute;
}



@media only screen and (min-width: 990px) {
	#projects_container {
		padding-left: 25%;
	}

	input {
		margin-right: 2em;
	}

	.project_info {
		width: 30em;
		margin-bottom: 2em;
		margin-left: 2em;
		font-size: 0.8em;
		display: inline-block;

	}

	.project_image {
		width: 30em;
	}

	.project_writeup {
		vertical-align: top;
		padding-top: 0.2em;
		width: auto;
		word-wrap: break-word;
		display: inline-block;
	}
	#title, #profile {
		display: inline-block;
	}



	#title {
		text-align: center;
		font-size: 1.5em;
		padding-left: 10%;
		width: 40%;
	}

	#title_content {
		display: inline-block;
		text-align: left;
		margin-top: 8%;
		padding-left: 1em;
		padding-right: 1em;
	}


	#profile {
		font-size: 0.8em;
		/*margin-left: 5%;*/
		width: 40%;
		padding: 1%;

	}


	#tagline {
		font-size: .7em;
	}

	.header {
		display: block;
		font-size: 1.1em;
		line-height: 0.5;
		padding-top: 1em;
		width: fit-content;
	}

	.item {
		padding-left: 1%;
		margin-top: 0px;
		/*line-height: 0.2;*/
		font-size: 1em;
	}
}


@media only screen and (max-width: 990px)  {
	#projects_container {
		margin-left: 5%;
	}

	input {
		margin-right: 2em;
	}

	
	.header {
		display: block;
		font-size: 1.3em;
		line-height: 1;
		padding-top: 1em;
	}

	.project_info {
		width: 100%;
		margin-bottom: 2em;
		margin-left: 2em;
		font-size: 0.8em;
		display: block;

	}

	.project_image {
		width: 25em;
	}

	.project_writeup {
		vertical-align: top;
		margin-top: 0;
		margin-left: 0.5em; 
		width: 80%;
	}


	#title {
		text-align: left;
		font-size: 1.5em;

		line-height: .9;
		padding-left: 3%;
	}

	#title_content {
		display: inline-block;
		text-align: left;
		width: 80%;
	}


	#profile {
		margin-left: 3%;

	}


	#tagline {
		font-size: .8em;
		word-wrap: break-word;
	}


	.item {
		padding-left: 1%;
		margin-top: 0px;
		/*line-height: 0.2;*/
		font-size: 1em;
	}
	
}
