html, body {
	font-family: 'Lucida Console', monaco, monospace ;
	/*width: 100%;
	height: 100%;*/
	cursor: url(static/cursor.png), auto;
	pointer-events: auto;

}

.appDiv {
	position: fixed;
	overflow: auto;
	height: auto;
	
}

.mainDiv {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#projects_container {
	display: block;
	height: auto;
	width: 100%;
	text-align: left;
	margin-top: 5em;
	float: left;
	/*position: absolute;*/
}

.project_item {
	margin-bottom: 2em;
	font-size: 0.8em;
}

#options {
	font-family: 'Lucida Console', monaco, monospace ;
}

#option_select {
	font-family: 'Lucida Console', monaco, monospace ;
}

#name {
	line-height: 0.5;
}


@media only screen and (min-width: 990px) {
	#projects_container {
		margin-left: 0;
	}

	input {
		margin-right: 2em;
	}

	.project_info {
		width: 80%;
		margin-bottom: 2em;
		margin-left: 2em;
		font-size: 0.8em;
		display: inline-block;

	}

	.project_image {
		width: 25em;
	}

	.project_writeup {
		vertical-align: top;
		margin-top: 0;
		margin-left: 0.5em; 
		width: 50%;
		word-wrap: break-word;
		display: inline-block;
	}
	#title, #profile {
		display: inline-block;
	}



	#title {
		text-align: center;
		font-size: 1.5em;
		padding-left: 10%;
		width: 40%;
	}

	#title_content {
		display: inline-block;
		text-align: left;
	}


	#profile {
		font-size: 0.8em;
		margin-left: 5%;

	}


	#tagline {
		font-size: .7em;
	}

	.header {
		display: block;
		font-size: 1.1em;
		line-height: 0.5;
		padding-top: 1em;
	}

	.item {
		padding-left: 1%;
		margin-top: 0px;
		/*line-height: 0.2;*/
		font-size: 0.9em;
	}
}


@media only screen and (max-width: 990px)  {
	#projects_container {
		margin-left: 5%;
	}

	input {
		margin-right: 2em;
	}

	
	.header {
		display: block;
		font-size: 1.1em;
		line-height: 1;
		padding-top: 1em;
	}

	.project_info {
		width: 100%;
		margin-bottom: 2em;
		margin-left: 2em;
		font-size: 0.8em;
		display: block;

	}

	.project_image {
		width: 25em;
	}

	.project_writeup {
		vertical-align: top;
		margin-top: 0;
		margin-left: 0.5em; 
		width: 80%;
	}


	#title {
		text-align: left;
		font-size: 1.5em;

		line-height: .9;
		padding-left: 3%;
	}

	#title_content {
		display: inline-block;
		text-align: left;
		width: 80%;
	}


	#profile {
		font-size: 0.8em;
		margin-left: 3%;

	}


	#tagline {
		font-size: .7em;
		word-wrap: break-word;
	}


	.item {
		padding-left: 1%;
		margin-top: 0px;
		/*line-height: 0.2;*/
		font-size: 0.9em;
	}
	
}
